div{
    width: 200px;
    height: 100px;

}



#a{
    
    border: 3px solid black;
    margin: 30px;
}

#b{
   
    border: 3px solid black;
    margin: 50px 50px 30px 30px;
}

#c{   
    border: 3px solid black;
    margin: 30px 50px 30px 50px;
}