#container{
    width: 1000px;
    margin: 0 auto;
    border: 1px solid #ccc;
}

*{margin: 0; padding: 0;}

nav{
    width: 100%;
    height: 80px;
    background: #006699;

}
ul{text-align: right;
    margin-right: 50px;}

ul li{
    list-style: none;  
    text-align: right;
    /* margin-right: 50px; */
}

nav ul li{
    display: inline-block;
    margin: 20px;
    padding: 10px;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
}
nav ul li a:hover{color: #ff0;}

section{
    width: 100%;
    height: 800px;
}

section h1{
    margin: 20px;
}