*{margin: 0;padding: 0;}
#container{width: 1000px; margin: 0 auto;}
#container > h1{text-align: center;}
.productList{
    list-style: none;
    margin-top: 30px;
}

.productList li{
    display: inline-block;
    margin: 5px 10px;
    position: relative;
    overflow: hidden;
    height: 200px;
}

.productList .caption{
    width: 300px; height: 200px;
    background-color: rgba(0, 0, 0, 0.6);
    transition: 1s; 
}

.productList li:hover .caption{
    transform: translateY(-205px);
}

.productList li h2, p{
    color: white; text-align: center;
    line-height: 2em;
    padding: 10px;
}