*{box-sizing: border-box; margin:0; padding: 0;}

#container{width: 1200px; margin: 0 auto;}
#container h1{color: #fff;}
#header{
    width: 100%;
    height: 100px;
    background: rgb(152, 152, 216);    
    padding: 10px;
}
#left-aside{
    width: 200px;
    height: 600px;
    background: rgb(221, 172, 221);
    float: left;
    padding: 10px;
}
#section{
    width: 800px;
    height: 600px;
    background-color: rgb(84, 95, 95);
    float: left;
    padding: 10px;
}
#right-aside{
    width: 200px;
    height: 600px;
    background-color:rgb(221, 172, 221) ;
    float: right;
    padding: 10px;
}
#footer{
    width: 100%;
    height: 100px;
    background-color: coral;
    clear: both;
    padding: 10px;
}