#container{
    width: 600px;
    margin: 10px auto;
}
fieldset{
    margin-bottom: 20px;
}

ul li{
    list-style: none;
    margin: 15px;   
}

ul li label{
width: 120px;
float: left;
text-align: right;
margin-right: 10px;

}
ul li input{
    width: 200px ;
    height: 30px;
}

select{
    width: 120px;
    height: 30px;
}

#button{width: 400px; margin: 20px auto; text-align: center;}
#button input{width: 150px; height: 50px; font-size: 20px; margin: 5px;}
#button input:hover{background-color: rgb(16,189,53); color: #fff; border-color: #fff ;}

#umail{width: 120px;
height: 30px;}